    /* That are used of gloable scope variable */
:root { 
  --color1:hsl(47,88%,63%);
  --color-2:hsl(0,0%,100%);
  --color-3:hsl(0,0%,42%);
  --color-4:hsl(0,0%,7%);
}
/* that Globl reset */
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /* Base body style */
body{
  background-color:var(--color1);
  height: 100vh;
  display: flex;
  font-family: Figtree,sans-serif;
  color: var(--color-3);
  justify-content: center;
  /* padding: 1.5rem; */
  align-items: center;

}
#container{
    background-color: var(--color-2);
    border: 1px solid var(--color-3);
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 8px 8px var(--color-4);
    /* transition: box-shadow 0.2s ease, transform 0.2s ease; */
    width:min(50%,370px);
}
div > p{
  margin-top:1rem;
}
div > p:first-of-type{
  padding:0.4rem;
  width:fit-content;
  background-color: var(--color1);
}
#author{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:2rem;
  margin-top: 2rem;
}
.Hrm:hover{
 color: var(--color1);
}
.Hrm,label{
  font-style: italic;
  font-weight: bold;
}
